@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    /* keeps all padding and margin within the actual size of an element*/
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main{ 
    margin: 0em 10em;
}  

h1{
    padding: 0px 10px;
}

.container{
    width: 100%;
}

.homeTextBox{
    margin: 50px;
}

.homeTextBox p{
   max-width: 500px;
}

.navBar {
   margin: 30px;
}

.navBar ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navBar ul li{
    margin: 0px 10px;
}

.navBar ul li a {
    text-decoration: none;
    color: #3786d7;
    font-family: sans-serif;
}

/* .imgprojectBox img{
    width: 100%;
    height: auto;
} */

.profileImg{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    object-fit: cover; 
}

.projectBox{
    margin: 0px auto;
}

.row{
	display: flex;
    margin: 20px 10px;
    margin-bottom: 35px;
    justify-content: space-between;
}

#about .row {
    justify-content: left;
}


@media screen and (max-width: 1000px){
    .row{
        flex-wrap: wrap;
    }
    .homeTextBox{
        margin: 20px 20px;
    }
    main{ 
        margin: 0em 5em;
    }  
}

@media screen and (max-width: 768px){
    .homeTextBox p{
        width: 400px;
    }
    .homeTextBox{
        margin: 20px 0px;
    }
}

.col-1 {flex-basis: 8.33%;} /* width works too */
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}