.container{
    width: 100%;
}

.homeTextBox p{
   margin: 80px 0px;
}

.navBar {
   margin: 30px;
}

.navBar ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navBar ul li{
    margin: 0px 10px;
}

.navBar ul li a {
    text-decoration: none;
    color: #3786d7;
    font-family: sans-serif;
}

.profileImg{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    object-fit: cover; 
}

.projectBox{
    margin: 0px auto;
}

.row{
	display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.col-1 {flex-basis: 8.33%;} /* width works too */
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}