@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    /* keeps all padding and margin within the actual size of an element*/
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #eff8f8;
}

h1, p{
    padding: 20px 0px;
}

#projects{
    box-sizing: border-box; 
    margin: 0px 50px;
}

#projects ul{
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
}

#projects ul li a{
    text-decoration: none;
}

.projectBox {
    animation-name: title;
}

.projectBox h1, p{
    margin: 10px 0px;
}

.projectBox img{
    margin: 20px 0px;
}


